@use '@angular/material' as mat;
@import 'src/styles/variables.scss';
@import 'src/styles/typography.scss';

.validation-message {
  color: $pink;
  font-size: 10px;
  font-family: $raleway-font-family;
  font-weight: 600;
}
